<ion-view >
	<ion-nav-buttons side="right">
		<search-bar></search-bar>
	</ion-nav-buttons>

	<ion-content >
		<div class="row" style="flex-wrap: wrap">
			<div class="col-33" ng-repeat="person in searchFactory.data" ng-click="navigation.goPersonDetail(person)">
				<div class="image-center image-circle"
						 ng-style="{'background-image':
		                    (person.profile_path)
		                    ? 'url(http://image.tmdb.org/t/p/w300/{{person.profile_path}})'
		                    : 'url(img/no-picture.jpg)'
		                  }">
				</div>
				<p style="text-align: center;">{{person.name}}</p>
			</div>
		</div>
		<ion-infinite-scroll on-infinite="searchFactory.search()" distance="1%" ng-if="searchFactory.hasMoreData" immediate-check="false"/>

	</ion-content>

</ion-view>
