<ion-view >
  <ion-nav-buttons side="right">
		<div class="searchBar">
			<div class="searchTxt" ng-style="{'height': isiOS ? 'calc(100% - 30px)':'calc(100% - 10px)'}">
		  		<div class="bgdiv"></div>
		  		<div class="bgtxt">
		  			<input type="text" placeholder="Search..." ng-model="searchFactory.query.value" ng-enter="searchFactory.search()">
		  		</div>
	  		</div>
				<i class="icon placeholder-icon ion-search" ng-click="searchFactory.search()"></i>
		</div>
	</ion-nav-buttons>

	<ion-content >
		<div class="row" style="flex-wrap: wrap">
			<div class="col-33" ng-repeat="person in searchFactory.data" ng-click="navigation.goPersonDetail(person)">
				<div class="image-center image-circle" ng-style="{'background-image':'url(http://image.tmdb.org/t/p/w300/{{person.profile_path}})'}">
				</div>
				<p style="text-align: center;">{{person.name}}</p>
			</div>
		</div>

		<ion-infinite-scroll on-infinite="searchFactory.search()" distance="1%" ng-if="searchFactory.hasMoreData" immediate-check="false"/>

	</ion-content>

</ion-view>
