/* Empty. Add your own CSS if you like */

.caption {
  height: 70px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-top: -75px;
  z-index: 9999;
  display: block;
  position: relative;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

/*movie poster: card that represents a movie*/
.movie-poster{
  font-family: "Helvetica Neue Thin";
}
.movie-poster .img-container{
  height: 35vh;
  overflow: hidden;
}
.movie-poster .title{
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
}
.movie-poster .subtitle{
  font-size: 80%;
  margin-bottom: 1px;
  white-space: nowrap;
  overflow: hidden;
}
.movie-poster hr{
  width: 50%;
  border: 1px solid #FF0000;
  margin: 0px;
}

/*movie details*/
.movie-details{
  font-family: "Helvetica Neue Thin";
}
.movie-details .movie-cover{
  width: 100%;
  height: 35vh;
  background-size: cover;
}

.movie-details .title{
  margin-bottom: 0px;
  font-size: 16pt;
}

/*movies search*/
.searchBar .icon {
	font-size: 27px;
	line-height: 1.2;
	padding-right: 6px;
	padding-left: 6px;
  color: #FFF;
}
.searchBar .searchTxt {
	left: 50px;
	width: calc(100% - 100px);
	position: fixed;
}
.searchBar .searchTxt > .bgdiv {
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
}
.searchBar .searchTxt > .bgtxt {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.searchBar .searchTxt input {
	background-color: inherit;
	color: #252525;
	padding-left: 5px;
	padding-right:5px;
  width: 100%;
}
