<ion-view >
  <ion-nav-buttons side="right">
		<div class="searchBar">
			<div class="searchTxt" ng-style="{'height': isiOS ? 'calc(100% - 30px)':'calc(100% - 10px)'}">
		  		<div class="bgdiv"></div>
		  		<div class="bgtxt">
		  			<input type="text" placeholder="Search..." ng-model="query.value">
		  		</div>
	  		</div>
				<i class="icon placeholder-icon ion-search" ng-click="search()"></i>
		</div>
	</ion-nav-buttons>
  <ion-content>

		<div class="row" style="flex-wrap: wrap">
			<div class="col col-50" ng-repeat="movie in movies" ng-click='navigation.goMovieDetail(movie)'>
				<movie-poster movie="movie"/>
			</div>
		</div>

		<ion-infinite-scroll on-infinite="search()" distance="1%" ng-if="hasMoreData" immediate-check="false"/>


  </ion-content>
</ion-view>
