<ion-view view-title="{{movie.original_title}}">
  <ion-content>
    <div class="list card">
      <div class="item">
        <h2>{{movie.original_title}}</h2>
        <p>Lançamento: {{movie.release_date}}</p>
      </div>

      <div class="item item-image">
        <img class="full-image" ng-src="http://image.tmdb.org/t/p/w370/{{movie.poster_path}}">
      </div>

      <a class="item item-icon-left assertive subdued" href="#"> {{movie.vote_count}} Curtidas</a>
    </div>
  </ion-content>
</ion-view>
