<ion-view view-title="">
      <ion-nav-bar class="bar-custom bar-assertive ">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="right">
              <button class="button icon ion-social-facebook" ng-click="shareViaFacebook()"> Share</button>
            </ion-nav-buttons>
      </ion-nav-bar>
      <div class="scroll-content ionic-scroll overflow-scroll">

      <div class="movie-details">

      <div class="movie-cover"
            ng-style="{'background-image':'url({{movie.poster_path ? 'http://image.tmdb.org/t/p/w300/'+movie.poster_path : 'img/default-cover.jpg'}})'}">
      </div>
      <p class="title padding">{{movie.title}}</p>

      <p class="overview padding">{{movie.overview}}</p>

      </div>

      <div class="scroll-content ionic-scroll overflow-scroll">

</ion-view>
